body {
  background-color: rgb(232, 232, 232);
}

.shape {
  display: inline-block;
  background-color: white !important;
  border-radius: 15px;
  /* Rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Shadow */
}

.shape.rectangle {
  width: 680px;
  height: 275px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  /* Change to row so that items are placed horizontally */
  justify-content: flex-start;
  align-items: center;
}

.square {
  width: 332px;
  height: 275px;
}

.square2 {
  width: 680px;
  height: 600px;
}

.first {
  background-color: maroon !important;
  /* Set first square color to maroon */
}

.info-panel {
  padding: 15px;
  background-color: #333;
  /* Dark background for contrast */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rectangle-icon {
  width: 200px;
  /* Adjust the size of the icon */
  height: 200px;
}

.icon-img {
  width: 100%;
  /* Make the icon fill the div */
  height: auto;
  border-radius: 10%;
  /* Optional: Make the icon circular */
}

.text-white {
  text-align: left;
  /* Align text to the left */
}

#username {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 5px;
  margin-left: 30px;
}

#manageComputersBtn {
  margin-top: 5px;
  background-color: maroon;
  color: white;
}

.shape.square2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shape.square2 h1 {
  font-weight: bold;
  color: maroon;
}

/* Adjust the canvas size */
#yearLevelChart {
  max-width: 95%;
  /* Increase width to make the graph larger */
  height: 700px;
  /* Increase height to make the graph taller */
}


.modal .form-control {
  height: 45px;
  font-size: 1rem;
  max-width: 90%;
  /* Ensure inputs are responsive */
}

#username {
  margin-left: 0;
  font-size: 1rem !important;

}

.modal .btn-light {
  background-color: #fff;
  color: #800000;
}

.modal-header,
.modal-footer {
  background-color: white;
  color: maroon;
}

.modal-title {
  font-size: 1.25rem;
}

/* Custom styling for close button */
.close {
  background: none;
  border: none;
  color: #800000 !important;
  /* Maroon color */
  font-size: 1.5rem;
}

.close:hover,
.close:focus {
  color: maroon;
  /* Change color on hover or focus */
  text-decoration: none;
  opacity: 0.7;
}

.print-button {
  background-color: maroon !important;
  height: auto;
  width: 150px;
  margin-right: 20px;
  align-self: flex-end;
}