body {
  background-color: rgb(232, 232, 232);
}

.table-container {
  background-color: white;
  border-radius: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table-header h4 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  color: maroon;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  width: 300px;
  height: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: maroon;
}

.search-container .search-icon {
  height: 40px;
  background-color: #f8f9fa;
  border: 1px solid maroon;
  border-left: 0;
  padding: 6px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: maroon;
}

body {
  background-color: rgb(232, 232, 232);
}

.table-container {
  background-color: white;
  border-radius: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table-header h4 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  color: maroon;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  width: 300px;
  height: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: maroon;
}

.search-container .search-icon {
  height: 40px;
  background-color: #f8f9fa;
  border: 1px solid maroon;
  border-left: 0;
  padding: 6px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: maroon;
}